.btn {
  display: inline-flex;
  justify-content: center;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-default-red-tab;
  }

  &--hero {
    border: 2px solid $color-default-white;
    font-size: 12px;
    line-height: 12px;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover {
      background-color: $color-default-white;
      color: $color-default-secondary;
    }

    &:focus {
      background-color: $color-focus-white;
      color: $color-default-secondary;
      border: 2px solid $color-default-black;
    }

    &:active {
      background-color: $color-default-white;
      color: $color-default-primary;
    }
  }

  &--games {
    border: 2px solid $color-default-white;
    align-self: center;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 22px;
    color: $color-default-white;
    width: 100%;
  }


  &--disabled {
    color: $color-alt-white;
    opacity: 0.5;
    pointer-events: none;
  }

  &:disabled {
    pointer-events: none;
  }

  &--form {
    color: $color-default-white;
    border: 2px solid $color-default-white;
    padding-top: 22px;
    padding-bottom: 22px;

    &:hover {
      background-color: $color-default-white;
      color: $color-default-secondary;
    }

    &:focus {
      background-color: $color-focus-white;
      color: $color-default-secondary;
      border: 2px solid $color-default-black;
    }

    &:active {
      background-color: $color-default-white;
      color: $color-default-primary;
    }

    &:disabled {
      pointer-events: none;
    }
  }
}
