.features {
  background-color: $color-alt-white;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 40px;
  align-items: center;
  justify-content: center;

  @include vp-768 {
    padding: 60px 45px;
    row-gap: 50px;
  }

  @include vp-1366 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.features__title {
  @include margin-reset;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  font-size: 32px;

  @include vp-768 {
    line-height: 42px;
    font-size: 42px;
  }

  @include vp-1366 {
    line-height: 54px;
    font-size: 54px;
  }
}

.features__list {
  @include list-style-reset;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  width: 100%;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    row-gap: 40px;
  }

  @include vp-1366 {
    grid-template-columns: 1fr 240px 1fr;
    column-gap: 60px;
  }
}

.features__list-item {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-top: 30px;
  padding-bottom: 40px;

  @include vp-768 {
    flex-direction: row;
    column-gap: 15px;
  }

  &--special {
    background-color: $color-alt-secondary;
    color: $color-default-white;
    row-gap: 20px;

    @include vp-768 {
      grid-column: 1 / -1;
      width: 320px;
      justify-self: center;
      align-items: center;
      flex-direction: column;
    }
    @include vp-1366 {
      grid-row: 1 /3;
      grid-column:  2 / 3;
    }
  }
}

.features__list-item-value {
  background: linear-gradient(-63deg, #D10A42 0%, #0041CA 45.58%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include vp-768 {
    align-items: start;
  }

  & :first-child {
    @include margin-reset;
    line-height: 64px;
    font-size: 64px;
    font-weight: 700;
  }

  & :last-child {
    @include margin-reset;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  &--special {
    background: $color-default-white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $color-default-white;

    & :last-child {
      font-size: 22px;
      line-height: 22px;

    }
  }

}

.features__list-item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 12px;

  @include vp-768 {
    align-items: start;
  }

  & :first-child {
    @include margin-reset;
    line-height: 18px;
    font-size: 20px;
  }

  & :last-child {
    @include margin-reset;
    font-size: 14px;
    line-height: 22px;
    width: 230px;
    text-align: center;

    @include vp-768 {
      text-align: start;
    }
  }

  &--special {

    & :last-child {
          @include vp-768 {
            text-align: center;
      }
    }
  }
}
