/* здесь используйте глобальные переменные */

// Default
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-default-white-opacity: rgba(255, 255, 255, 0.4);
$color-default-primary: #102654;
$color-default-primary-opacity: rgba(16, 38, 84, 0.5);
$color-default-primary-alt-opacity: rgba(16, 38, 84, 0.2);
$color-default-secondary: #103aae;
$color-default-red-tab: #d10a42;
$color-default-red-bunner: #ed0233;
$color-default-red-bunner-opacity: rgba(237, 2, 51, 0.2);
$color-default-red-error: #ff121f;
$color-default-footer: #030a1a;
$color-default-disabled: #c8c9cc;
$color-price-ghost: #e8e8e8;

// Alt
$color-alt-white: #f8f9fc;
$color-alt-secondary: #1c3374;
$color-focus-white: rgba(255, 255, 255, 0.8);
$color-disabled-white: rgba(255, 255, 255, 0.3);
$color-focus-social-icon: #74819c;
$ff-placeholder: "Roboto Condensed", "Arial", sans-serif;
$fz-default: 14px;


// Viewports
// ---------------------------------
$vp-320: 320px;
$vp-767: 767px;
$vp-768: 768px;
$vp-1365: 1365px;
$vp-1366: 1366px;


// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;
