.form {
  background-color: $color-default-primary;

  @include vp-1366 {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, $color-default-primary 50%, $color-default-white 50% 100%)
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 36px;
  padding-top: 70px;
  padding-bottom: 70px;

  @include vp-768 {
    align-items: center;
  }

}

.form__title {
  @include margin-reset;

  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  font-size: 32px;
  color: $color-default-white;
  background-color: $color-default-primary;

  @include vp-768 {
    line-height: 42px;
    font-size: 42px;
  }

  @include vp-1366 {
    line-height: 54px;
    font-size: 54px;
  }
}

.form__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 36px;
  background-color: $color-default-primary;

  @include vp-768 {
    width: 440px;
    flex-direction: row;
    column-gap: 30px;
  }
}

.form__label {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: $color-focus-social-icon;
  }

  @include vp-768 {
    width: 205px;
  }
}

.form__input {
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: $color-default-white;
  background-color: transparent;
  border: none;
}

.form__input::placeholder {
  color: $color-default-white-opacity;
}

.form__btn {

  @include vp-768 {
    width: 100%;
  }
}
